
* {
    
    margin: 0;
    padding: 0;
}
/*For the nav bar*/
.nav_bar {

    top: 0;
    left: 0;
    width: 100%;
    position: relative; /*E.N - was absolute*/
    background-color: rgb(255, 255, 255);
    opacity: 70%;
}


.Welcome_sentence{

    font-size: 27px;
    margin-top: 27px ;
    letter-spacing: 0.4em;
    font-family: 'Courgette';
    color: rgb(3, 51, 51);
    text-align: center;
    position: relative;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.Main_sentence{

    font-size: 20px;
    font-style: oblique;
    letter-spacing: 0.3em;
    font-family: 'Courgette';
    color: rgb(9, 17, 16);
    text-align: center;
    position: relative;
    padding-top:10%;
    /*top: 37%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: lightgrey;*/
    /*opacity: 15%;*/
}

.Main_sentence2{

    font-size: 20px;
    font-style: oblique;
    letter-spacing: 0.3em;
    font-family: 'Exo 2';
    color: rgb(9, 17, 16);
    text-align: center;
    position: absolute;
    padding-top:20%;
    /*top: 37%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: lightgrey;*/
    /*opacity: 15%;*/
}


.Main_sentence3{

    font-size: 20px;
    font-style: oblique;
    margin: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.3em;
    font-family: 'Indie Flower', cursive;
    color: rgb(9, 17, 16);
    text-align: center;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: lightgrey;*/
    /*opacity: 15%;*/
    /*background-color: #f0f0f0;
    opacity: 45%;*/
}

h1{

    /*margin-top: 160px;*/
    background-color: #f0f0f0;
    opacity: 45%;
}

h2{

    /*margin-top: 160px;*/
    background-color: #f0f0f0;
    opacity: 45%;
}

h3{

    background-color: #f0f0f0;
    opacity: 45%;
}

.error_msg {
    font-family: 'Bree Serif';
    color: #ff0000;
    display: block;
    font-size: 14px;
    left: 50%;
    position: absolute;
    /*visibility: hidden;*/
    letter-spacing: 0.2em;    
}

.Second_sentence{

    font-size: 17px;
    font-style: oblique;
    display:inline-flex;
    text-align: center;
    width: 25%;
    margin-left: 80px;
    margin-top: 80px ;
    margin-bottom: 25px;
    font-family:"Courier", monospace;
    text-shadow:1px 1px 2px black, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    color: rgb(34, 59, 59);
}

#aboutUs{
    font-family: 'Indie Flower';
    padding: 50px;
    letter-spacing: 0.25em;
    
}

.container{

    text-align: center;
}
h5{

    margin-left: 40px;
    /*margin-bottom: 30px;*/
    font-size: 20px;
    font-style: oblique;
    display: inline-block;
    Font-family:'Courgette';
    text-shadow:1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 255, 255);;
    color: rgb(133, 203, 203);
    text-align: center;
}

body {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*I wad had this here*/
    background-image: url(pics/waves.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

a {
    color: rgb(25, 43, 53);
    font-family: 'Handlee', cursive;
    font-size: 17px;
    
}   

#ampm {

    font-family: 'Bree Serif';
    padding-bottom: 27px;
}

table{

    margin-top: 120px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}

td{

    padding: 0.05em;
    margin: 10px;
    font-size: 24px;
    color: rgb(10, 15, 15);
    border: 1px solid;
}

tr.selected {

    background-color: #c8ddf1;
    font-weight: bold;
}

tr:hover {

    background-color: #f0f0f0;
}



th{

    color: rgb(62, 102, 102);
    font-size: 27px;
    letter-spacing: 0.2em;
    border: 1px solid;  
}

.Get_option{

    position: relative; /*E.N. added*/
    margin-left: 50px;
    margin: 17px;
    padding: 30px;
    text-align: center;
    font-family: "Gideon Roman", monospace;
    font-size: 27px;
     color: rgb(91, 126, 126);
    font-weight: bold;
    box-sizing: border-box;
    opacity: 65%;
    border:lightslategray;
    text-align: center;
    border-radius: 4%;
    font-weight: bold;
    resize: vertical;
    margin-top: 80px;
}

.Get_option2{

    position: relative; /*E.N. added*/
    margin-left: 50px;
    margin: 17px;
    padding: 30px;
    text-align: center;
    font-family: "Gideon Roman", monospace;
    font-size: 27px;
     color: rgb(91, 126, 126);
    font-weight: bold;
    box-sizing: border-box;
    opacity: 90%;
    border:lightslategray;
    text-align: center;
    border-radius: 4%;
    font-weight: bold;
    resize: vertical;
    margin-top: 80px;

}

.contact-form {
	background-color: rgb(148, 182, 184);
	padding: 20px;
	text-align: center;
	color: #ffffff;
    letter-spacing: 0.2em;

}

tr:hover {background-color: rgb(195, 230, 241);}

#contactUs{
    font-size: 3em;
	margin: 0;
    color: #000000;
    margin-bottom: 2.5vw;
    letter-spacing: 0.2em;
    font-family: 'Courgette';

}


.contact-form form {
	display: marker;
	flex-direction: column;
	margin-top: 20px;
    color: #ffffff;

}


label{
   
    margin-left: 30%;
    padding: 17px;
    width: 17%;
    min-width: 150;
    float: left;
    text-align: left;
    font-family: 'Courgette';
    color: #384c61;
 }

 .contactus{
    font-family: 'Exo 2';
}
 input{

    margin: 10px;
    padding: 17px 10px;
    opacity: 54%;
    width: 20%;
    min-width: 150px;
    height: 5%;
    border: 3px solid #555;
    display: block;
 } 

 input:required {
    border: 3px solid red;
  }
  
  input:valid {
    border: 3px solid green;
  }

 /*Im here*/


 img{

    margin-right: 30px;   /* Horizontal Space */
    margin-left: 30px;
    margin-top: -10px;    
}

.image-link{
    
    width: 550px; 
    height: 150px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    position: relative;
    display: table-cell;
}

.image-link.selected {
    border: 3px solid #007bff;
}

table{
    background-color: #f0f0f0;
    opacity: 80%;
}

.img2{

    width: 300px; 
    height: 100px;
    margin-top: 15px;
}

button{

    font-size: 15px;
    background-color: rgb(235, 232, 232);
    opacity: 65%;
    color: rgb(82, 81, 81);
    padding: 10px 15px;
    text-align: center;
    border-width: 0.1em; 
    border-radius: 20%;
    font-weight: bold; 
    display: inline-block;
    margin: 0% 5%;
    width: 7%;
    letter-spacing: 0.2em;
    
}

button:disabled{

    background-color: rgb(179, 217, 241);
    cursor: not-allowed;
}

.button1{

    background-color: rgb(255, 255, 255);
    opacity: 65%;
    color: rgb(109, 106, 106);
    padding: 10px 15px;
    border: none;
    text-align: center;
    /*margin:auto;*/
    /*position: 50%;*/
    display:flex;
    border-radius: 20%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold; 
/*    display: inline-block;*/
/*margin-left: 160px;*/
    position:auto;
}

.Buttons_welcome {

    /*margin: 0% 20%;*/
    text-align: center;
}


button:hover{

    color:  rgb(0, 0, 0);
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0 ;
    /*display: inline-block;*/
    height: 105px;
  }

  li {
    
    display: inline;
    float: left;
    display: block;
    padding-top: 31px;
    padding-left: 8px;
    padding-right: 8px;
    /*background-color: #000000;*/
    border-left: 25px black;    
  }

  li.rightli {

    float: right;
    margin-right: 40PX;
  }

  #w_b_1{

    width: 50%;
  }

  #w_b_2{

    width: 50%;
  }

  .welcome_video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;    
    position: fixed;   
  }

  video {

    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}



.allButtons{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;    
}

#img_about{
    float: right;
    width: 300px; 
    height: 100px;
    margin-top: 15px;

  }
  #p_about{
    color: rgb(36, 54, 108);
    font-family: 'Indie Flower';
    padding: 50px;
    letter-spacing: 0.25em;
    font-weight: 200;
    float: left;
    margin-left: 120px;
    font-size: 27px;

    
  }
/*
.submit{
    text-align: center;
}
*/
/* I was pot this has a note
.background{
    background-image: url(pics/waves.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
} */

@media (max-width: 700px) {
    #main-block, #sidebar, .block  {
        width: 100%;
        float: none;
    }

    .nav_bar.Upper_sentence {
        display: none;
    }
/*For the welcome page*/
    .Welcome_sentence{
        font-size: 17px;
        margin-top: 17px ;
        top: 37%;
    }
    .Main_sentence{
        font-size: 10px;
        margin: 10px;
        top: 57%;
    }
/*For all the rest of the pages*/
    .Welcome_sentence2{
        font-size: 10px;
        margin-top: 0px ;
        top: 28%;
        text-align: center;

    }
    .Main_sentence2{
        font-size: 10px;
        margin: 10px;
        top: 30%;

    }
/*
    .Main_sentence3{
        font-size: 10px;
        margin: 10px;
        top: 30%;

    }
    */

/* Table for the select group*/
    table{
        margin-top: 60px ;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        border: 1px solid;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    td{
        padding: 0.025em;
        margin: 5px;
        font-size: 17px;
        color: rgb(10, 15, 15);
        border: 1px solid;
    
    }
    
    th{
        color: rgb(62, 102, 102);
        font-size: 27px;
        letter-spacing: 0.2em;
        border: 1px solid;
        
    }

    .Get_option{
        font-size: 17px;
        margin-top: 40px;
    }

    .allButtons{
        size: 10px;
        font-size: 5px;
    }
    
    button{
        font-size: 10px;
    }


    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px;
      }
      
      .image-container {
        position: relative;
      }
      
      .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(133, 203, 203);
        padding: 10px;
        font-size: 20px;
        font-style: oblique;
        Font-family:'Courgette', Times, serif;
        text-shadow:1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 255, 255);
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        /* display: inline-block;*/
      }

     
      .image-container:hover .caption {
        opacity: 1;
      }


}
