extends template 
block content
    .container
        h1#aboutUs ABOUT US
        //img#img_about(src="pics/R.jpeg")
        p#p_about Amigo Surf is a kayaking club on Mikhmoret Beach near Beit Yanai. We founded our club 7 years ago with a lot of love for what we do. Connect with the sea, breathe the fresh air and feel the wind - this is an extraordinary experience. We believe anyone can, and we are here to give you the best tools with the best guides, the best service, and the best kayaks.        
        h1#aboutUs OUR TEAM
        img#img_about(src="pics/R.jpeg")
