extends template 
block content

    div(class="Main_sentence2") 
        h2 YOURE SIGN UP NOW TO THE SYSTEM! WELCOME : 
        h3 #{V1}
        br
        br
        h3 WELCOME TO AMIGO SURF FAMILY (:
