extends template 
block content
  .Get_option
    form(novalidate, action="/processDate", method="POST")
        label(for="selectedDate") Select a Date:
        input(type="date", id="selectedDate", name="selectedDate")
        button(type="submit", class="allButtons") Submit

